form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 3px solid black;
    border-radius: 1em;
    }
  
  ul {
    list-style: none;
    padding: 30px;
    margin: 20px;
    margin-top: 10px;
  
  }
  
  form li + li {
    margin-top: 1em;
    
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif; 
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 2px solid #0a0a0a;
    border-radius: 20px;
    padding: 5px;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }

  .button {
    /* Align buttons with the text fields */
    
    padding-left: 90px;
    
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    cursor: pointer;
    border-radius: 20px;
    width: 100px;
    border: 2px solid;
    justify-content: center;

  }
  
  h1 {
    text-align: center;
    font-size: 40px;
  }

  h2 {
    text-align: center;
    
  }


/* Reset default margin and padding for the social icons container */
.social {
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: center;
}

/* Style for each social media icon link */
.social a {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between icons */
}

/* Style for the social media icon images */
.social img {
  width: 40px; /* Adjust the width of the icons */
  height: 40px; /* Adjust the height of the icons */
  border-radius: 50%; /* Create a circular shape */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Hover effect for the icons */
.social a:hover img {
  transform: scale(1.2); /* Enlarge the icon on hover */
}


.aboutpage img {
  display: inline-block;
  width: 220px;
  margin-left: 90px;
  margin-bottom: -80px;
  margin-top: -15px;
  border-radius: 100%; /* Create a circular shape */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

#selectOption{
  font: 1em sans-serif; 
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 2px solid #0a0a0a;
    border-radius: 20px;
    padding: 5px;

}
